{
  "extends": [
    "airbnb-base",
    "prettier/@typescript-eslint",
    "prettier"
  ],
  "plugins": ["@typescript-eslint", "prettier"],
  "rules": {
    "prettier/prettier": [
      "error"
    ],
    "no-unused-vars": "off",
    "no-useless-constructor": "off",
    "no-param-reassign": "off",
    "class-methods-use-this": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/no-useless-constructor": "error",
    "@typescript-eslint/no-non-null-assertion": "warn",
    "@typescript-eslint/no-explicit-any": "off"
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module",
    "useJSXTextNode": true
  },
  "env": {
    "node": true,
    "jest": true,
    "es6": true
  },
  "settings": {
    "import/extensions": [
      ".js",
      ".ts"
    ],
    "import/parsers": {
      "@typescript-eslint/parser": [
        ".ts"
      ]
    },
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".ts"
        ]
      }
    }
  }
}
